@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: blanchedalmond;
  text-transform: uppercase;
  
}

header {
  background-color:#1e1e2f;
  width: 100%;
  padding-top: 0.2em;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 2.5rem;
  color: #007bff;
  padding-top:0.2em;
}
.logo img {
  height:2.5rem;
  vertical-align: bottom;
  margin-right: 0.5rem; 
}

.menu-item {
  display: flex;
  height: 3em;
  width: 100%;
  justify-content: center;
}
.temp-menu {
  position: fixed;
  background-color: lightgray;
  bottom: 2px;
  left: 50px;
  width: 30em;
  height: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  text-transform: uppercase;
}
.temp-menu-item {
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  justify-content: center;
  border-left: 1px solid gray;
}
.id-input {
  font-size: 1.2rem;
  max-width: 40%;
}
.id-input::placeholder {
  text-transform: uppercase;
  color: gray;
  opacity: 0.5;
}
.join-game {
  background-color: #32cd32;
  color:black;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  width: 55%;
}
.hidden {
  background-color: gray;
  color:black;
  width: 55%;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  pointer-events: none;
}
.create-game {
  background-color: #ff8c00;
  color:black;
  width: 60%;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
}
.or {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 2rem;
  color: #007bff;
}
button {
  height: 2em;
  width: 10em;
  cursor: pointer;
} 
.main-menu {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 26em;
}

.wrapper{
  width:100%;
  height:100vh;
  background-color: #1e1e2f;
  color: #007bff;
}

.node {

  color: aqua;
  display: flex; 
  flex-wrap: wrap; 
  gap: 100px;
}

#node-6 {
  background-color: #1e1e2f;
}


  
.lang-wrapper {
  position:fixed;
  bottom: 10px;
  right: 20px;
  color:#007bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.lang-sv {
  height: 3em;
  width: 5em;
  cursor: pointer;
  border-radius: 1em;
  background-image: url("../assets/swedish-flag.png");
  background-size: cover;
  background-position: center;
}

.lang-en {
  height: 3em;
  width: 5em;
  cursor: pointer;
  border-radius: 1em;
  background-image: url("../assets/uk-flag.png");
  background-size: cover;
  background-position: center;
}

.nodeButton {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #007bff;
}

.pollBody {
  width: 500px;
  text-align: center;
}

#createForm {
  font-size: 1.2rem;


}