@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: blanchedalmond;
  text-transform: uppercase;
  
}

header {
  background-color:#1e1e2f;
  width: 100%;
  padding-top: 0.2em;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 2.5rem;
  color: #007bff;
  padding-top:0.2em;
}
.logo img {
  height:2.5rem;
  vertical-align: bottom;
  margin-right: 0.5rem; 
}

.menu-item {
  display: flex;
  height: 3em;
  width: 100%;
  justify-content: center;
}
.temp-menu {
  position: fixed;
  background-color: lightgray;
  bottom: 2px;
  left: 50px;
  width: 30em;
  height: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  text-transform: uppercase;
}
.temp-menu-item {
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  justify-content: center;
  border-left: 1px solid gray;
}
.id-input {
  font-size: 1.2rem;
  max-width: 40%;
}
.id-input::placeholder {
  text-transform: uppercase;
  color: gray;
  opacity: 0.5;
}
.join-game {
  background-color: #32cd32;
  color:black;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  width: 55%;
}
.hidden {
  background-color: gray;
  color:black;
  width: 55%;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  pointer-events: none;
}
.create-game {
  background-color: #ff8c00;
  color:black;
  width: 60%;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
}
.or {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 2rem;
  color: #007bff;
}
button {
  height: 2em;
  width: 10em;
  cursor: pointer;
} 
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 0px;
  color: white;
}

.player {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: white;
}

.player1 {
  background-color: #32cd32; /* Player 1's color */
}

.player2 {
  background-color: #ff8c00; /* Player 2's color */
}


/* Smartphones (portrait and landscape) ----------- */
                                            @media only screen 
                                            and (min-device-width : 320px) 
                                            and (max-device-width : 480px) {
                                              .node-grid {
                                                max-width: 400px;
                                                display: grid;
                                                grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
                                                gap: 0.5em;
                                                text-align: center;
                                                margin:  auto;
                                              } 
                                              .nodeButton {
                                                height: 0.5em;
                                                width: 0.5em;
                                                border-radius: 50%;
                                                background-color: #007bff;
                                                text-align: center;
                                                margin: auto;
                                              }
                                            }

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  .node-grid {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    gap: 0.2em;
    text-align: center;
    margin:  auto;
  } 
  .nodeButton {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: #007bff;
    text-align: center;
    margin: auto;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  .node-grid {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    gap: 0.5em;
    text-align: center;
    margin:  auto;
  } 
  .nodeButton {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #007bff;
    text-align: center;
    margin: auto;

  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .node-grid {
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    gap: 0.7em;
    text-align: center;
    margin:  auto;
  } 
  .nodeButton {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #007bff;
    text-align: center;
    margin: auto;

  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  .node-grid {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    gap: 0.7em;
    text-align: center;
    margin:  auto;
  } 
  .nodeButton {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: #007bff;
    text-align: center;
    margin: auto;

  }
}


.node-area {
  padding-top: 5vw;
  padding-bottom: 5vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.wrapper{
  width:100%;
  height:100vh;
  background-color: #1e1e2f;
  color: #007bff;
}

.main-menu {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 26em;
}

.wrapper{
  width:100%;
  height:100vh;
  background-color: #1e1e2f;
  color: #007bff;
}


.node {

  color: aqua;
  display: flex; 
  flex-wrap: wrap; 

}
  
.lang-wrapper {
  position:fixed;
  bottom: 10px;
  right: 20px;
  color:#007bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.lang-sv {
  height: 3em;
  width: 5em;
  cursor: pointer;
  border-radius: 1em;
  background-image: url("../assets/swedish-flag.png");
  background-size: cover;
  background-position: center;
}

.lang-en {
  height: 3em;
  width: 5em;
  cursor: pointer;
  border-radius: 1em;
  background-image: url("../assets/uk-flag.png");
  background-size: cover;
  background-position: center;
}

.pollBody {
  width: 500px;
  text-align: center;
}

#createForm {
  padding: 20px;
}

/* create view*/
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width:65%;
  position:fixed;
  bottom: 135px;
  right:250px;
}
.centered-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.operator-section,.questions-section,
.range-section {
  padding: 20px;
  border-radius: 10px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #252537;
 
  box-shadow: 2px 8px 10px rgba(0.5, 0.5, 0.5, 0.5);
}
.operator-section label, .questions-section label, .range-section label{
  font-size: 1.1em;
  font-weight: bold;
  color: #ff8c00;
  padding: 3px;
  font-family: Helvetica, Arial, sans-serif;
}
.radio-item {
  display: flex;
  align-items: center;
  gap: 5px;  
 
}
.radio-group label {
  font-size: 1.1em;
  font-weight: bold;
  color: #ff8c00;  /* Ensure readability */
  font-family: Helvetica, Arial, sans-serif;
 
}



.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: auto;  
 
}
.create-game {
  position: fixed;
  bottom: 70px;    
  left: 50%;      
  transform: translateX(-50%);
  height: 2em;
  width: 20%;
  background-color: #ff8c00;
  color: black;
  font-size: 1.2rem;
}
.error-message {
    color: red;
    font-size: 1.2rem;
    font: bold;
    text-transform: none;
  }
.back-button {
  position: fixed;
  background-color: #1e1e2f;
  bottom: 4px;
  left: 50px;
  width: 13em;
  height: 2em;
  display: grid;
  color: white;
  text-transform: uppercase;
}


.back-button:hover {
  background-color: #e67e00;
  cursor: pointer;
}
.lang-switcher {
  position:fixed;
  bottom: 10px;
  right: 20px;
  color:#007bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.lang-btn {
  height: 3em;
  width: 5em;
  cursor: pointer;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
}


.button-sv {
  background-image: url("../assets/swedish-flag.png");
}


.button-en {
  background-image: url("../assets/uk-flag.png");
}

/*lobbyview*/
.card {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0.3, 0.1, 0.2, 0.4);
  background-color: #252537;
  width: 65%;
  position:fixed;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Adjust to perfectly center it */
}
.poll-id{
  padding-top: 10vh;
  font-size: 20pt;
  font-family: Helvetica, Arial, sans-serif;
  color:#007bff;
}
.lang-switcher {
    position:fixed;
    bottom: 10px;
    right: 20px;
    color:#007bff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-size: 1em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  .card label{
    color:white;
    padding: 3px;
  }

  .lang-btn {
  height: 3em;
  width: 5em;
  cursor: pointer;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
}
.button-sv {
  background-image: url("../assets/swedish-flag.png");
}
.button-en {
  background-image: url("../assets/uk-flag.png");
}
.join-game-lobby {
    background-color: #32cd32;
    color:black;
    font-size: 0.8rem;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: grid;
    align-items: center;
    height: 3em;
    width: 55%;
    text-transform: uppercase;
  }
.back-button {
  position: fixed;
  background-color: #1e1e2f;
  bottom: 4px;
  left: 50px;
  width: 13em;
  height: 2em;
  display: grid;
  color: white;
  text-transform: uppercase;
}

.back-button:hover {
  background-color:#007bff;
  cursor: pointer;
}

/*Startview*/

header {
  background-color:#1e1e2f;
  width: 100%;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 2.5rem;
  color: #007bff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;

}
.logo img {
  height: 70px;
  min-width: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-join-section{
  text-transform: uppercase;
  display: flex;
  height: 3em;
  width: 100%;
  justify-content: center;
}

#error-message {
  color: red;
  font-size: 1rem;
  text-transform: none;
}
.footer-menu {
  position: fixed;
  background-color: #1e1e2f;
  bottom: 2px;
  left: 50px;
  width: 20em;
  height: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  text-transform: uppercase;
}
.about-page, .rules-page {
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
}
  
.id-input {
  font-size: 1.2rem;
  max-width: 40%;
}
.id-input::placeholder {
  text-transform: uppercase;
  color: gray;
  opacity: 0.75;
}
.join-game {
  background-color: #32cd32;
  color:black;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  width: 55%;
}
.hidden {
  background-color: gray;
  color:black;
  width: 55%;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: grid;
  align-items: center;
  pointer-events: none;
}
.create-game-start {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 3em; 
  width: 60%; 
  background-color: #ff8c00; 
  color: black; 
  font-size: 0.8rem; 
  text-decoration: none; 
  letter-spacing: 0.1em; 
  margin: 0 auto; 
}

.or {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 5px; 
  font-size: 1.5rem;
  color: #ffffff;
}
.lang-switcher {
position: fixed;
bottom: 10px;
right: 20px;
color:white;
display: flex;
flex-direction: row;
align-items: center;
gap: 1em;
font-size: 1em;
letter-spacing: 0.1rem;
text-transform: uppercase;
}

.lang-btn {
height: 3em;
width: 5em;
cursor: pointer;
border-radius: 1em;
background-size: cover;
background-position: center;
}

.button-sv {
background-image: url("../assets/swedish-flag.png");
}

.button-en {
background-image: url("../assets/uk-flag.png");
}

